{% load static %}
{% url 'index' as index_url %}
{% url 'contact' as contact_url %}
{% url 'order:list' as list_url %}
{% url 'login_page' as login_url %}
{% url 'logout_page' as logout_url %}
{% url 'register_page' as register_url %}
{% url 'cart:home' as cart_url %}
{% url 'staff:customer_orders' as customerorders_url %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
      {% include "base/css.html" %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent mb-3">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/android-chrome-192x192.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Pinocchio's Pizza
          </a>

          <button style="border-color: rgba(0,0,0,0);" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
              <li class="nav-item {% if request.path == index_url %}active{% endif %}">
                <a class="nav-link" href="{{ index_url }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
                <a class="nav-link" href="{{ contact_url }}">Contact</a>
              </li>
              <li class="nav-item dropdown {% if request.path == cart_url %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="{{ list_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'order:list' category='regular-pizza' %}">Regular Pizza</a>
                  <a class="dropdown-item" href="{% url 'order:list' category='sicilian-pizza' %}">Scilian Pizza</a>
                  <a class="dropdown-item" href="{% url 'order:list' category='subs' %}">Subs</a>
                  <a class="dropdown-item" href="{% url 'order:list' category='salads' %}">Salads</a>
                  <a class="dropdown-item" href="{% url 'order:list' category='pasta' %}">Pasta</a>
                  <a class="dropdown-item" href="{% url 'order:list' category='dinner' %}">Dinner Platters</a>
                </div>
              </li>
              <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                <a class="nav-link" href="{{ cart_url }}">
                  {{ request.session.cart_items }}
                  <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                </a>
              </li>

              {% if request.user.is_authenticated %}
                <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
                  <a class="nav-link" href="{{ logout_url }}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                  <a class="nav-link" href="{{ login_url }}">Login</a>
                </li>
                <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                  <a class="nav-link" href="{{ register_url }}">Register</a>
                </li>
              {% endif %}

              {% if request.user.is_staff %}
                <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
                  <a class="nav-link" href="{{ customerorders_url }}">Staff Only</a>
                </li>
              {% endif %}
            </ul>

          </div>
        </div>
      </nav>

      <!-- <div calss="header-img">
        <img src="{% static "img/android-chrome-192x192.png" %}" alt="">
      </div> -->

      <div class="hero-text-box">
        {% if request.user.is_authenticated %}
          <h1>Welcome back, {{ user.username }}! <br>We were missing you...</h1>
        {% else %}
          <h1>Welcome to Pinocchio's Pizza!</h1>
        {% endif %}
        <!-- <h1>Goodbye junk food.<br>Hello super healthy meals.</h1> -->
        <a class="btn btn-full js--scroll-to-plans" href="{% url 'order:list' category='regular-pizza' %}">Hurry to Reguralr Pizza!</a>
        <a class="btn btn-ghost js--scroll-to-start" href="{% url 'order:list' category='sicilian-pizza' %}">Hurry to Sicilian Pizza!</a>
      </div>
    </header>

    {% include "base/js.html"%}
  </body>
</html>
